 .ltr .arabicOnly {
     display: none !important
 }

 table {
     width: 100%
 }

 .loaderSVGWrapper {
     display: flex;
     width: 100vw;
     height: 100vh;
     align-items: center;
     justify-content: center;
     position: fixed;
     background-color: rgba(230, 230, 230, .6)
 }

 .hide {
     display: none !important
 }

 div#buttons button {
     background-color: rgb(0, 136, 204);
     color: white;
     border: none;
     border-radius: 4px;
     padding: 8px 16px;
     font-size: 14px;
     cursor: pointer
 }

 div#buttons {
     margin-left: auto
 }

 .ltr div#buttons {
     margin-left: auto;
     display: none !important
 }

 .deafSignChatcard #header #hide-chatbot #close-button {
     position: relative;
     text-align: left
 }

 .deafSignChatcard #header h1 {
     color: #000;
     font-size: 2vw;
     font-family: "Finger Paint", cursive;
     padding: 1vw
 }

 .deafSignChatcard #message-section::-webkit-scrollbar {
     width: 10px
 }

 .deafSignChatcard #message-section {
     overflow: auto;
     height: 41vw;
     padding: 0 1vw;
     overflow-y: auto;
     scrollbar-width: thin;
     scrollbar-color: var(--thumbBG) var(--scrollbarBG)
 }

 .deafSignChatcard #message-section::-webkit-scrollbar-track {
     background: var(--scrollbarBG);
     border-radius: 100px
 }

 .deafSignChatcard #message-section::-webkit-scrollbar-thumb {
     background-color: var(--thumbBG);
     border-radius: 6px;
     border: 3px solid var(--scrollbarBG)
 }

 .deafSignChatcard #message-section #intro-bot {
     border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
     background: linear-gradient(to right, rgb(62, 171, 55) 0%, rgb(101, 150, 207) 100%) !important;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2%;
     margin-top: 3%;
     margin-left: 7%;
     width: 90%
 }

 .deafSignChatcard #message-section #intro-bot img {
     display: block;
     width: 40%;
     height: auto;
     border-radius: 15px 15px 15px 15px
 }

 .deafSignChatcard #message-section #intro-bot p {
     margin: 0;
     padding: 10px;
     font-size: 14px;
     color: #333;
     text-align: center
 }

 .deafSignChatcard #message-section #bot,
 .deafSignChatcard #message-section #user {
     position: relative;
     bottom: 0;
     min-height: 1.5vw;
     max-width: 13vw;
     background-color: white;
     border-radius: 1.5vw 1.8vw 1.5vw 0;
     padding: 1vw;
     margin: 1.5vw 1.5vw;
     margin-left: 0;
     margin-bottom: 0
 }

 .deafSignChatcard #message-section #user-timestamp,
 .deafSignChatcard #message-section #bot-timestamp {
     position: relative;
     bottom: 0;
     margin-top: 0;
     font-size: 11px;
     margin-bottom: 10px;
     font-family: "Droid Arabic Kufi", Arial;
     font-weight: normal;
     color: rgb(153, 153, 153);
     opacity: .7;
     display: flex;
     align-items: center
 }

 .deafSignChatcard #message-section #user-timestamp {
     float: right
 }

 .deafSignChatcard #message-section #bot {
     margin-left: 0;
     border-radius: 1.5vw 1.8vw 1.5vw 0;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-width: 10vw;
     max-width: 13vw
 }

 .deafSignChatcard #message-section #bot img {
     display: block;
     width: 100%;
     height: auto;
     border-radius: 15px 15px 15px 15px
 }

 .deafSignChatcard #message-section #bot p {
     margin: 0;
     padding: 10px;
     font-size: 14px;
     color: #333;
     text-align: left;
     line-height: 20px;
     direction: rtl
 }

 .rtl .deafSignChatcard #message-section #bot p {
     text-align: right
 }

 .deafSignChatcard #message-section #user img {
     display: block;
     width: 100%;
     height: auto;
     border-radius: 15px 15px 15px 15px;
     max-width: 117px;
     max-height: 66px
 }

 .deafSignChatcard #message-section #user p {
     margin: 0;
     padding-top: 10px;
     font-size: 14px;
     color: #fff;
     text-align: center;
     line-height: 18px
 }

 .deafSignChatcard #message-section #user {
     border-radius: 1.8vw 1.5vw 0 1.5vw;
     background: linear-gradient(to right, rgb(62, 171, 55) 0%, rgb(101, 150, 207) 100%) !important;
     float: right;
     color: #fff;
     margin-right: 0;
     display: flex;
     flex-direction: column;
     align-items: center
 }

 .deafSignChatcard #message-section #user #user-response {
     color: #fff
 }

 .deafSignChatcard #message-section .message {
     color: #000;
     clear: both;
     line-height: 1.2vw;
     font-size: 14px;
     padding: 0 8px 5px 8px;
     position: relative;
     margin: 8px 0;
     max-width: 85%;
     word-wrap: break-word;
     z-index: 2
 }

 .chatgrid {
     display: grid;
     grid-template-columns: 50% [col-start] 50% [col-start];
     float: left;
     margin-left: 7%
 }

 .chatcol {
     display: flex;
     flex-direction: column
 }

 #chatdown {
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center
 }

 .deafSignChatcard {
     display: none;
     position: fixed;
     z-index: 100000;
     bottom: 0;
     left: 1%
 }

 .rtl .deafSignChatcard {
     right: 1%;
     left: auto
 }

 .ltr div#buttons {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 90px;
     height: 90px;
     z-index: 9999
 }

 .rtl div#buttons {
     position: fixed;
     right: 0;
     bottom: 0;
     width: 90px;
     height: 90px;
     z-index: 9999
 }

 @media print {
     .deafchatbtn,
     .deafchatbtn .img {
         display: none !important
     }
 }

 @media (max-width:1200px) {
     .deafSignChatcard {
         height: 65vw !important;
         max-width: 37vw !important
     }
     .deafSignChatcard #message-section {
         height: 58vw !important
     }
     .deafSignChatcard #message-section #bot,
     .deafSignChatcard #message-section #user {
         max-width: 26vw !important
     }
     .deafSignChatcard #message-section #bot,
     .deafSignChatcard #message-section #user {
         max-width: 13vw
     }
 }

 @media (max-width:745px) {
     .deafSignChatcard {
         height: 125vw !important;
         max-width: 100vw !important
     }
     .deafSignChatcard #message-section {
         height: 106vw !important
     }
     .deafSignChatcard #message-section #bot,
     .deafSignChatcard #message-section #user {
         max-width: 26vw !important;
         min-width: 29vw !important
     }
     .deafSignChatcard #message-section #bot p {
         margin: 0;
         padding: 10px;
         font-size: 12px;
         color: #333;
         text-align: center;
         line-height: 16px
     }
 }

 @media (max-width:490px) {
     .ltr div#buttons {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 384px;
         height: 384px
     }
     .rtl div#buttons {
         position: fixed;
         right: 0;
         bottom: 0
     }
 }

 .deafchatbtn {
     width: fit-content;
     min-width: 60px;
     height: 60px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 0;
     border-radius: 4px;
     border: solid 0 #008550;
     border-radius: 50%;
     background-color: #fff;
     position: absolute;
     z-index: 100000;
     bottom: 23px;
     left: 20%
 }

 .rtl .deafchatbtn {
     left: auto;
     right: 20%
 }

 .deafchatbtn .img {
     background-image: url(/portal/individuals/images/signDeaf.png) !important;
     background-repeat: no-repeat;
     height: 60px;
     width: 60px;
     background-size: contain
 }

 #minimizedChat {
     bottom: 0 !important
 }

 #labibaWebBotDiv>div {
     bottom: 90px !important
 }

 a.deafchatbtn:focus,
 a.deafchatbtn:hover {
     color: #008550;
     text-decoration: underline
 }

 .closedeafchatbtn {
     width: fit-content;
     min-width: 24px;
     height: 24px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 1px;
     border-radius: 4px;
     border: solid .2px #cacaca;
     border-radius: 50%;
     background-color: #969696
 }

 .closedeafchatbtn:before {
     content: "";
     background-image: url(/portal/individuals/images/close-icon.svg) !important;
     background-repeat: no-repeat;
     height: 13px;
     width: 13px;
     background-size: contain
 }

 .deafchatIcn {
     width: fit-content;
     min-width: 30px;
     height: 30px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 0;
     border: solid 0 #008550;
     border-radius: 50%;
     background-color: #fff;
     margin: 0 5px
 }

 .deafchatIcn:before {
     content: "";
     background-image: url(/portal/individuals/images/signDeaf.png) !important;
     background-repeat: no-repeat;
     height: 30px;
     width: 30px;
     background-size: contain
 }

 #main-chat {
     position: relative
 }

 #bot-timestamp {
     position: fixed !important;
     bottom: -12px !important;
     background-color: #f9f9f9;
     width: 100%
 }

 .sr-only {
     color: #444 !important
 }

 .sr-only,
 .sr-only-focusable:not(:focus):not(:focus-within) {
     position: absolute !important;
     width: 1px !important;
     height: 1px !important;
     padding: 0 !important;
     margin: -1px !important;
     overflow: hidden !important;
     clip: rect(0, 0, 0, 0) !important;
     white-space: nowrap !important;
     border: 0 !important;
     color: #008550 !important
 }

 a.skip-links {
     left: -999px;
     position: absolute;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden;
     z-index: -999
 }

 a.skip-links:focus {
     left: auto;
     top: auto;
     width: 12%;
     height: auto;
     overflow: auto;
     margin: 0 auto;
     padding: 5px;
     font-size: 20px;
     outline: 3px solid red;
     text-align: center;
     z-index: 999;
     left: 50%;
     transform: translateX(-50%)
 }

 #footerdescription {
     float: none
 }

 .rtl .list-inline {
     margin-right: 0
 }

 .accessibility-toolbar ul {
     display: flex;
     list-style: none;
     margin: 0;
     gap: 12px
 }

 .accessibility-toolbar ul>li {
     padding: 0
 }

 .accessibility-toolbar ul>li>a {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 28px;
     height: 28px;
     border-radius: 50%;
     transition: all .4s ease-in-out;
     border: 1px solid #939598
 }

 .accessibility-toolbar ul>li>a img {
     opacity: .6
 }

 .accessibility-toolbar ul>li>a:hover {
     color: var(--black) !important;
     background-color: #ddd
 }

 .accessibility-toolbar ul>li>a.a11y-font-resize {
     color: #666;
     font-weight: bold;
     font-family: "Droid Arabic Kufi", "Roboto", Arial, sans-serif !important
 }

 .accessibility-toolbar ul>li>a.a11y-font-resize.disabled {
     opacity: .5;
     background: #eee;
     pointer-events: none
 }

 .a11y-cc-dark .accessibility-toolbar ul>li>a {
     background-color: #000
 }

 .a11y-cc-dark .accessibility-toolbar ul>li>a.a11y-font-resize {
     color: #fff
 }

 .a11y-cc-dark .accessibility-toolbar ul>li>a.a11y-font-resize>span {
     color: #fff !important
 }

 .a11y-cc-dark .accessibility-toolbar ul>li>a.a11y-font-resize.disabled {
     color: #000 !important
 }

 .a11y-cc-dark .accessibility-toolbar ul>li>a.a11y-font-resize.disabled>span {
     color: #999 !important
 }

 @media (max-width:767px) {
     .accessibility-toolbar ul {
         justify-content: center
     }
 }

 .a11y-fr-small {
     zoom: .96;
     -moz-transform: scale(.98, .98);
     -moz-transform-origin: left top
 }

 [lang="ar"].a11y-fr-small {
     -moz-transform-origin: right top
 }

 .a11y-fr-default {
     zoom: 1
 }

 .a11y-fr-xlarge {
     zoom: 1.04;
     -moz-transform: scale(1.04, 1.04);
     -moz-transform-origin: left top
 }

 [lang="ar"].a11y-fr-xlarge {
     -moz-transform-origin: right top
 }

 @-moz-document url-prefix() {
     #return-to-top {
         display: none !important
     }
     .a11y-fr-xlarge {
         overflow-x: hidden
     }
 }

 .a11y-cc-gray {
     filter: grayscale(100%)
 }

 .a11y-cc-dark {
     filter: grayscale(100%) invert(96%)
 }

 .a11y-cc-dark img:not(.service-main-container img, .document-wrapper img) {
     filter: grayscale(100%) invert(100%) !important
 }

 .a11y-cc-dark .service-sub-container img:not(.document-wrapper img) {
     filter: invert(100%)
 }

 .cookSlideUp {
     transform: translateY(0) !important
 }

 .cookDis {
     padding: 0;
     margin: 0;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100vw;
     z-index: 10000;
     border-top: 2px #433d33 solid;
     background-color: rgb(0 0 0 / 70%);
     text-shadow: 1px 1px 3px #000;
     transition: .4s ease-in;
     transform: translateY(100%)
 }

 .cookDisInner {
     height: fit-content;
     background: transparent;
     color: #fff;
     display: flex;
     align-items: center;
     margin: auto;
     width: 100%;
     max-width: 1270px;
     padding: 10px 0
 }

 .cookDisHead {
     font-size: 18px;
     margin: 5px 15px 15px;
     font-weight: bold;
     line-height: 1.5
 }

 .cookText {
     font-size: 14px;
     padding: 0 15px
 }

 .cookBtns {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     margin: 20px 0 10px
 }

 .cookBtns .btn {
     margin: 0 10px 10px;
     width: 180px;
     padding: 10px 20px;
     height: 45px;
     font-weight: bold;
     text-shadow: none;
     font-size: 16px;
     border-radius: 5px !important;
     display: inline-flex;
     align-items: center;
     justify-content: center
 }

 .cookBtns .btnRounded:hover {
     background-color: #efefef;
     color: #009b5e;
     border: 2px solid #efefef
 }

 .cookBtns .btnRounded {
     background-color: transparent;
     color: #fff;
     border: 2px solid #ccc
 }

 .cookBtns .btnSolid:hover {
     background: #009b5e !important;
     color: #fff !important
 }

 .cookBtns .btnSolid {
     min-width: 100px !important;
     padding: 20px 30px !important;
     line-height: .3;
     background-color: #008550 !important;
     color: #fffffe !important
 }

 @media (max-width:768px) {
     .cookBtns {
         flex-direction: initial;
         margin: 20px 0
     }
     .cookDisInner {
         display: block
     }
     .cookDisHead {
         font-size: 16px;
         margin: 5px 15px 15px;
         font-weight: bold;
         line-height: 1.5
     }
 }

 @media (max-width:480px) {
     .cookBtns {
         margin: 20px 0 20px
     }
     .cookText {
         font-size: 12px
     }
     .cookBtns .btn {
         margin: 0 10px 5px;
         width: 180px;
         padding: 10px 20px !important;
         height: 35px;
         font-weight: bold;
         text-shadow: none;
         font-size: 12px;
         line-height: 1
     }
 }

 @media (max-width:380px) {
     .cookText {
         font-size: 11px
     }
 }

 .enContents,
 .arContents {
     display: none
 }

 .enContents:lang(en) {
     display: block
 }

 .arContents:lang(ar) {
     display: block
 }

 .cookTip {
     font-weight: bold;
     color: #008550
 }

 .cookTip:focus,
 .cookTip:hover {
     color: #bfecda;
     text-decoration: underline
 }

 a.privacyLink {
     color: #22dd92;
     font-weight: bold;
     word-wrap: inherit;
     min-width: 100px;
     margin: 0 5px;
     display: inline-block
 }

 a.privacyLink:focus,
 a.privacyLink:hover {
     color: #bfecda;
     text-decoration: underline
 }

 .service-popup-datatable {
     border: 1px solid #dddddd
 }

 .service-popup-datatable th {
     background-color: #f4f4f4;
     border: 1px dotted #dddddd;
     text-align: center;
     font-size: 12px;
     font-weight: bold;
     color: #666
 }

 .service-popup-datatable td {
     background-color: #ffffff;
     border-top: 1px dotted #dddddd;
     border-left: 1px dotted #dddddd;
     border-right: 1px dotted #dddddd;
     text-align: left;
     font-size: 11px;
     font-weight: normal;
     color: #666
 }

 a {
     text-decoration: none
 }

 #mask {
     display: none;
     background: #000;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 10;
     width: 100%;
     height: 100%;
     opacity: .8;
     z-index: 999
 }

 .service-popup {
     max-width: 900px !important;
     display: none;
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 99999;
     box-shadow: 0 0 20px #999;
     -moz-box-shadow: 0 0 20px #999;
     -webkit-box-shadow: 0 0 20px #999;
     border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     background: #ffffff
 }

 .service-popuppos {
     top: 200px !important
 }

 .service-popup_container {
     min-height: 100px;
     height: auto;
     margin-top: -20px;
     padding: 0;
     float: left;
     width: 100%
 }

 .service-popup_header {
     padding: 10px;
     background-color: #00ab67;
     color: #ffffff;
     font-size: 14px;
     font-weight: bold;
     width: 100%
 }

 .service-popup_body {
     padding: 10px;
     height: auto;
     display: block;
     float: left;
     width: 100%;
     clear: both
 }

 .modalClose {
     float: right;
     display: inline-block;
     cursor: pointer
 }

 .rtl .modalClose {
     float: left !important;
     display: inline-block;
     cursor: pointer
 }

 .service-popup-small {
     width: 300px !important
 }

 .service-popup-medium {
     width: 700px !important
 }

 .service-popup-large {
     width: 900px !important
 }

 .rtl .service-popup_container {
     float: right
 }

 .rtl .service-popup_body {
     float: right
 }

 .wpthemeLeft {
     float: none
 }

 .wpthemeRight {
     float: none
 }

 .wptheme1Col .wpthemeCol {
     width: auto
 }

 .wpthemeCol {
     margin-left: unset;
     min-height: unset
 }

 .ltr .d-arabic-only,
 .rtl .d-english-only {
     display: none
 }

 .ltr .v-arabic-only,
 .rtl .v-english-only {
     visibility: hidden
 }

 .new_business_landing_login-container-form {
     gap: 0;
     max-height: none
 }

 .ltr .login-form form {
     margin-right: 0;
     margin-left: auto
 }

 .login-form .ab-input {
     background-color: transparent
 }

 .btn-sticky-login {
     display: inline-flex;
     align-items: center;
     justify-content: center
 }

 #showDefChat {
     white-space: nowrap
 }

 .search-modal {
     backdrop-filter: blur(3px)
 }

 .ltrnumber {
     direction: ltr
 }

 #arabic-disable.tooltip {
     bottom: 100%;
     white-space: nowrap;
     filter: none;
     opacity: 1;
     right: 0;
     left: 43px
 }

 #arabic-disable .tooltip-inner {
     padding: 10px 8px;
     background-color: #d95c5c
 }

 #arabic-disable .tooltip-inner>span {
     padding: 0 !important
 }

 .rtl #arabic-disable.tooltip {
     right: 43px;
     left: 0
 }

 .rtl #arabic-disable .tooltip-inner {
     font-family: "Droid Arabic Kufi", Arial !important
 }

 #arabic-disable.tooltip .tooltip-arrow {
     border-top-color: #d95c5c
 }

 #arabic-disable.tooltip .tooltip-inner {
     max-width: none
 }

 #LoginPortletIDField1,
 #LoginPortletSecretField1 {
     outline: none
 }

 #LoginPortletIDField1.has-error,
 #LoginPortletSecretField1.has-error {
     border-color: #d95c5c !important;
     border-left-width: 4px !important
 }

 .rtl #LoginPortletIDField1.has-error,
 .rtl #LoginPortletSecretField1.has-error {
     border-left-width: 1px !important;
     border-right-width: 4px !important
 }

 @media screen and (max-width:768px) {
     #arabic-disable.tooltip,
     .rtl #arabic-disable.tooltip {
         right: 0 !important;
         left: 0 !important
     }
 }

 .deafbtn {
     width: fit-content;
     min-width: 205px;
     height: 44px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     gap: 5px;
     padding: 10px 15px 10px 5px;
     border-radius: 4px;
     border: solid .2px #008550;
     background-color: #fff
 }

 .deafbtn .img {
     background-image: url(/portal/individuals/images/contact_icon/Frame3.png) !important;
     background-repeat: no-repeat;
     height: 30px;
     width: 30px;
     background-size: contain
 }

 a.deafbtn:focus,
 a.deafbtn:hover {
     color: #008550;
     text-decoration: underline
 }

 .rtl .deafbtn {
     padding: 10px 5px 10px 15px;
     font-size: 14px
 }

 .deaf-toolbar,
 .accessibility-toolbar,
 .download-toolbar {
     padding: 0 0 10px 0
 }

 .social-toolbar h3,
 .deaf-toolbar h3,
 .download-toolbar h3 {
     margin-bottom: 5px
 }

 @media (min-width:992px) and (max-width:1199px) {
     .footer-grid-item-5 .col-sm-6:first-child {
         padding: 0
     }
 }

 @media (min-width:768px) and (max-width:991px) {
     .footer-grid-container {
         grid-template-columns: [first] 40% [end] 44%
     }
     .download-toolbar .store {
         zoom: 1
     }
     .footer-grid-item-4 {
         grid-row-start: 1;
         grid-column-start: 2
     }
     .footer-grid-item-5 {
         grid-row-start: 1;
         grid-column-start: 3
     }
 }

 @media (max-width:767px) {
     .deaf-toolbar {
         display: flex;
         justify-content: center
     }
     .footer-grid-container {
         gap: 16px;
         grid-template-columns: repeat(1, 1fr)
     }
 }

 .deafSignChatcard {
     height: 45vw;
     max-width: 27vw;
     background-color: rgb(249, 249, 249);
     margin-right: 30vw;
     margin-top: 5vw;
     box-shadow: 2vw 2vw 12vw 3vw #ccc;
     border-radius: 25px 25px 10px 25px
 }

 body.rtl .deafSignChatcard {
     margin-left: 30vw;
     margin-right: 0
 }

 .deafSignChatcard #header {
     border-radius: 25px 25px 0 0;
     box-shadow: rgba(0, 0, 0, .05) 10px 10px 6px;
     width: calc(100% - 60px);
     min-height: auto;
     box-sizing: initial;
     font-size: 14px;
     font-weight: 500;
     color: rgb(62, 93, 117);
     text-align: center;
     background: rgb(255, 255, 255);
     padding: 11px 30px;
     display: flex;
     justify-content: space-between;
     align-items: center
 }

 .deafSignChatcard #header #logo {
     border: 1px solid rgb(255, 255, 255);
     border-radius: 50%;
     margin: 0 10px 0 0;
     width: 30px;
     height: 30px
 }

 .deafSignChatcard #header #title {
     font-size: 15px;
     margin: 0 10px 0 0
 }

 div#buttons button {
     background-color: rgb(0, 136, 204);
     color: white;
     border: none;
     border-radius: 4px;
     padding: 8px 16px;
     font-size: 14px;
     cursor: pointer
 }

 div#buttons {
     margin-left: auto
 }

 .ltr div#buttons {
     margin-left: auto;
     display: none !important
 }

 .deafSignChatcard #header #hide-chatbot #close-button {
     position: relative;
     text-align: left
 }

 .deafSignChatcard #header h1 {
     color: #000;
     font-size: 2vw;
     font-family: "Finger Paint", cursive;
     padding: 1vw
 }

 .deafSignChatcard #message-section::-webkit-scrollbar {
     width: 10px
 }

 .deafSignChatcard #message-section {
     overflow: auto;
     height: 41vw;
     padding: 0 1vw;
     overflow-y: auto;
     scrollbar-width: thin;
     scrollbar-color: var(--thumbBG) var(--scrollbarBG)
 }

 .deafSignChatcard #message-section::-webkit-scrollbar-track {
     background: var(--scrollbarBG);
     border-radius: 100px
 }

 .deafSignChatcard #message-section::-webkit-scrollbar-thumb {
     background-color: var(--thumbBG);
     border-radius: 6px;
     border: 3px solid var(--scrollbarBG)
 }

 .deafSignChatcard #message-section #intro-bot {
     border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
     background: linear-gradient(to right, rgb(62, 171, 55) 0%, rgb(101, 150, 207) 100%) !important;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2%;
     margin-top: 3%;
     margin-left: 7%;
     width: 90%
 }

 .deafSignChatcard #message-section #intro-bot img {
     display: block;
     width: 40%;
     height: auto;
     border-radius: 15px 15px 15px 15px
 }

 .deafSignChatcard #message-section #intro-bot p {
     margin: 0;
     padding: 10px;
     font-size: 14px;
     color: #333;
     text-align: center
 }

 .deafSignChatcard #message-section #bot,
 .deafSignChatcard #message-section #user {
     position: relative;
     bottom: 0;
     min-height: 1.5vw;
     max-width: 13vw;
     background-color: white;
     border-radius: 1.5vw 1.8vw 1.5vw 0;
     padding: 1vw;
     margin: 1.5vw 1.5vw;
     margin-left: 0;
     margin-bottom: 0
 }

 .deafSignChatcard #message-section #user-timestamp,
 .deafSignChatcard #message-section #bot-timestamp {
     position: relative;
     bottom: 0;
     margin-top: 0;
     font-size: 11px;
     margin-bottom: 10px;
     font-family: "Droid Arabic Kufi", Arial;
     font-weight: normal;
     color: rgb(153, 153, 153);
     opacity: .7;
     display: flex;
     align-items: center
 }

 .deafSignChatcard #message-section #user-timestamp {
     float: right
 }

 .deafSignChatcard #message-section #bot {
     margin-left: 0;
     border-radius: 1.5vw 1.8vw 1.5vw 0;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-width: 10vw;
     max-width: 13vw
 }

 .deafSignChatcard #message-section #bot img {
     display: block;
     width: 100%;
     height: auto;
     border-radius: 15px 15px 15px 15px
 }

 .deafSignChatcard #message-section #bot p {
     margin: 0;
     padding: 10px;
     font-size: 14px;
     color: #333;
     text-align: left;
     line-height: 20px;
     direction: rtl
 }

 .rtl .deafSignChatcard #message-section #bot p {
     text-align: right
 }

 .deafSignChatcard #message-section #user img {
     display: block;
     width: 100%;
     height: auto;
     border-radius: 15px 15px 15px 15px;
     max-width: 117px;
     max-height: 66px
 }

 .deafSignChatcard #message-section #user p {
     margin: 0;
     padding-top: 10px;
     font-size: 14px;
     color: #fff;
     text-align: center;
     line-height: 18px
 }

 .deafSignChatcard #message-section #user {
     border-radius: 1.8vw 1.5vw 0 1.5vw;
     background: linear-gradient(to right, rgb(62, 171, 55) 0%, rgb(101, 150, 207) 100%) !important;
     float: right;
     color: #fff;
     margin-right: 0;
     display: flex;
     flex-direction: column;
     align-items: center
 }

 .deafSignChatcard #message-section #user #user-response {
     color: #fff
 }

 .deafSignChatcard #message-section .message {
     color: #000;
     clear: both;
     line-height: 1.2vw;
     font-size: 14px;
     padding: 0 8px 5px 8px;
     position: relative;
     margin: 8px 0;
     max-width: 85%;
     word-wrap: break-word;
     z-index: 2
 }

 .chatgrid {
     display: grid;
     grid-template-columns: 50% [col-start] 50% [col-start];
     float: left;
     margin-left: 7%
 }

 .chatcol {
     display: flex;
     flex-direction: column
 }

 #chatdown {
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center
 }

 .deafSignChatcard {
     display: none;
     position: fixed;
     z-index: 100000;
     bottom: 0;
     left: 1%
 }

 .rtl .deafSignChatcard {
     right: 1%;
     left: auto
 }

 .ltr div#buttons {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 90px;
     height: 90px;
     z-index: 9999
 }

 .rtl div#buttons {
     position: fixed;
     right: 0;
     bottom: 0;
     width: 90px;
     height: 90px;
     z-index: 9999
 }

 @media print {
     .deafchatbtn,
     .deafchatbtn .img {
         display: none !important
     }
 }

 @media (max-width:1200px) {
     .deafSignChatcard {
         height: 65vw !important;
         max-width: 37vw !important
     }
     .deafSignChatcard #message-section {
         height: 58vw !important
     }
     .deafSignChatcard #message-section #bot,
     .deafSignChatcard #message-section #user {
         max-width: 26vw !important
     }
     .deafSignChatcard #message-section #bot,
     .deafSignChatcard #message-section #user {
         max-width: 13vw
     }
 }

 @media (max-width:745px) {
     .deafSignChatcard {
         height: 125vw !important;
         max-width: 100vw !important
     }
     .deafSignChatcard #message-section {
         height: 106vw !important
     }
     .deafSignChatcard #message-section #bot,
     .deafSignChatcard #message-section #user {
         max-width: 26vw !important;
         min-width: 29vw !important
     }
     .deafSignChatcard #message-section #bot p {
         margin: 0;
         padding: 10px;
         font-size: 12px;
         color: #333;
         text-align: center;
         line-height: 16px
     }
 }

 @media (max-width:490px) {
     .ltr div#buttons {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 384px;
         height: 384px
     }
     .rtl div#buttons {
         position: fixed;
         right: 0;
         bottom: 0
     }
 }

 .deafchatbtn {
     width: fit-content;
     min-width: 60px;
     height: 60px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 0;
     border-radius: 4px;
     border: solid 0 #008550;
     border-radius: 50%;
     background-color: #fff;
     position: absolute;
     z-index: 100000;
     bottom: 23px;
     left: 20%
 }

 .rtl .deafchatbtn {
     left: auto;
     right: 20%
 }

 .deafchatbtn .img {
     background-image: url(/portal/individuals/images/signDeaf.png) !important;
     background-repeat: no-repeat;
     height: 60px;
     width: 60px;
     background-size: contain
 }

 #minimizedChat {
     bottom: 0 !important
 }

 #labibaWebBotDiv>div {
     bottom: 90px !important
 }

 a.deafchatbtn:focus,
 a.deafchatbtn:hover {
     color: #008550;
     text-decoration: underline
 }

 .closedeafchatbtn {
     width: fit-content;
     min-width: 24px;
     height: 24px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 1px;
     border-radius: 4px;
     border: solid .2px #cacaca;
     border-radius: 50%;
     background-color: #969696
 }

 .closedeafchatbtn:before {
     content: "";
     background-image: url(/portal/individuals/images/close-icon.svg) !important;
     background-repeat: no-repeat;
     height: 13px;
     width: 13px;
     background-size: contain
 }

 .deafchatIcn {
     width: fit-content;
     min-width: 30px;
     height: 30px;
     flex-grow: 0;
     display: flex;
     font-weight: bold;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 0;
     border: solid 0 #008550;
     border-radius: 50%;
     background-color: #fff;
     margin: 0 5px
 }

 .deafchatIcn:before {
     content: "";
     background-image: url(/portal/individuals/images/signDeaf.png) !important;
     background-repeat: no-repeat;
     height: 30px;
     width: 30px;
     background-size: contain
 }

 #main-chat {
     position: relative
 }

 #bot-timestamp {
     position: fixed !important;
     bottom: -12px !important;
     background-color: #f9f9f9;
     width: 100%
 }

 .dashboard #mainNav {
     display: none
 }

 .dashboard [data-theme="light"].re-edited-box-icon {
     display: none
 }

 .dashboard [data-theme="dark"].re-edited-box-icon {
     display: block
 }

 .rtl .form-select {
     background-position: left .75rem center;
     padding: .375rem .75rem .375rem 2.25rem
 }

 .rtl .end-0 {
     left: 0 !important;
     right: auto !important
 }

 .rtl .start-0 {
     right: 0 !important;
     left: auto !important
 }

 .mask-submit-loader {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     background: rgba(230, 230, 230, .7);
     margin: 0;
     padding: 0;
     z-index: 100001
 }

 .loaderSVGWrapper {
     display: flex;
     width: 100vw;
     height: 100vh;
     align-items: center;
     justify-content: center;
     position: fixed;
     background-color: rgba(230, 230, 230, .6)
 }

 @media(max-width:992px) {
     .loaderSVGWrapper svg {
         width: 120px;
         height: auto
     }
 }

 @media(max-width:768px) {
     .loaderSVGWrapper svg {
         width: 80px;
         height: auto
     }
 }

 .loaderSVGWrapper svg .svg-elem-1 {
     fill: transparent;
     -webkit-transition: fill .4s ease .04s;
     transition: fill .4s ease .04s
 }

 svg.active .svg-elem-1 {
     fill: #0e9346
 }

 svg .svg-elem-2 {
     fill: transparent;
     -webkit-transition: fill .4s ease .04s;
     transition: fill .4s ease .04s
 }

 svg.active .svg-elem-2 {
     fill: #0e9346
 }

 svg .svg-elem-3 {
     fill: transparent;
     -webkit-transition: fill .4s ease .08s;
     transition: fill .4s ease .08s
 }

 svg.active .svg-elem-3 {
     fill: #0e9346
 }

 svg .svg-elem-4 {
     fill: transparent;
     -webkit-transition: fill .4s ease .12s;
     transition: fill .4s ease .12s
 }

 svg.active .svg-elem-4 {
     fill: #0e9346
 }

 svg .svg-elem-5 {
     fill: transparent;
     -webkit-transition: fill .4s ease .16s;
     transition: fill .4s ease .16s
 }

 svg.active .svg-elem-5 {
     fill: #0e9346
 }

 svg .svg-elem-6 {
     fill: transparent;
     -webkit-transition: fill .4s ease .2s;
     transition: fill .4s ease .2s
 }

 svg.active .svg-elem-6 {
     fill: #0e9346
 }

 svg .svg-elem-7 {
     fill: transparent;
     -webkit-transition: fill .4s ease .24s;
     transition: fill .4s ease .24s
 }

 svg.active .svg-elem-7 {
     fill: #0e9346
 }

 svg .svg-elem-8 {
     fill: transparent;
     -webkit-transition: fill .4s ease .28s;
     transition: fill .4s ease .28s
 }

 svg.active .svg-elem-8 {
     fill: #0e9346
 }

 svg .svg-elem-9 {
     fill: transparent;
     -webkit-transition: fill .4s ease .32s;
     transition: fill .4s ease .32s
 }

 svg.active .svg-elem-9 {
     fill: #0e9346
 }

 svg .svg-elem-10 {
     fill: transparent;
     -webkit-transition: fill .4s ease .36s;
     transition: fill .4s ease .36s
 }

 svg.active .svg-elem-10 {
     fill: #0e9346
 }

 svg .svg-elem-11 {
     fill: transparent;
     -webkit-transition: fill .4s ease .4s;
     transition: fill .4s ease .4s
 }

 svg.active .svg-elem-11 {
     fill: #0e9346
 }