@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    direction: rtl;
}

html {
    direction: rtl;
}

body {
    font-family: 'Cairo', sans-serif;
    background: #f9fafb;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}